# Виртуальные окружения
.venv/
venv/
env/

# Кэш Python
__pycache__/
*.py[cod]

# Файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Логи и временные файлы
*.log
*.tmp
*.bak

# Файлы зависимостей
Pipfile.lock

# Отчеты о покрытии кода
htmlcov/
.coverage

# Папки для сборки
dist/
build/
*.egg-info/

# Конфиденциальные данные
.env
secrets.json